/* css */

/* Box Model */
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/*layout*/
.linktree {
    font-family: 'Open', sans-serif;
    letter-spacing: 0.075em;
    text-align: center;
}


/* profile image */

.profile-image{
    
    width: 96px;
    height: 96px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 40px auto 30px;
    -webkit-tap-highlight-color: transparent;
}

.profile-image img {
    display: inline;
    margin: 0 auto;
    height: 7rem;
    width: 5.7rem;
}

h3, h3 a {
    color: rgb(148, 121, 121);
    font-size: 1rem;
    font-weight: 200;
    border-color: transparent;
    line-height: 1.25;
    max-width: 100%;
    display: block;
    overflow: hidden;
    text-decoration: none;
}

h2 {
    color: rgb(210, 198, 198);
    font-size: 1.25rem;
    margin-top: -10px;
    margin-bottom: 0;
    padding: 8px;
}

h2:hover {
    color: rgb(131, 171, 239);
}

.userName {
    color: rgb(87, 74, 74);
    width: 100%;
    max-width: 110px;
    margin: 0 auto;

}

.links   {
    width: 100%;
    max-width: 414px;
    margin: 0 auto;
    padding: 0px 10px;
}

.links .link  {
    display: block;
    width: 100%;
    margin: 0 auto 15px;
    color:  #fff;
    border-radius:  40px ;
    background-color: #bc9047;
    text-align: center;
    text-decoration: non;
    padding: 20px ;
    border-width: 2px;
    font-size: 18px;
}

a {
    color: blue;
    text-decoration: none;
    transition: color 1s;
}

a:hover {
    color: black;
}

footer {
  background-color: #121315;
  color: #a7a7a7;
  font-size: 10px;
}
/*footer * {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
}*/
.row {
  padding: 1em 1em;
}
.row.primary {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  align-items: stretch;
}
.column {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 2em;
  min-height: 15em;
}
h3 {
  width: 100%;
  text-align: left;
  color: rgb(212, 209, 209);
  font-size: 1.3em;
  white-space: nowrap;
  padding: 5px;
}

input,
button {
  font-size: 1em;
  padding: 1em;
  width: 100%;
  border-radius: 6px;
  margin-bottom: 5px;
}
button {
  background-color: #bc9047;
  color: #ffffff;
}
.copyright {
  padding: 0.3em 1em;
  background-color: #25262e;
}
.footer-menu{
    float: left;
    font-size: 1.1em;
}

.footer-menu a{
  color: #cfd2d6;
  padding: 6px;
  text-decoration: none;
}
.footer-menu a:hover{
  color: #27bcda;
}
.copyright p {
  font-size: 1.1em;
  text-align: right;
}
@media screen and (max-width: 850px) {
  .row.primary {
    grid-template-columns: 1fr;
  }

}

@media only screen and (max-width:549px) {
    .linktree{
        width: 88vw;
    }
}

